
<div class="container">

    <h1 class="page_header">Welcome to our Webpage!
        <small>where you do not train just your body  </small>
    </h1>
    <div class="">

        <div class="row">
            <div class="col-sm-12 text-center bg-green ">
               <img src="images/images.jpeg" alt="images.jpg" width="600" >
               <li class="nav-item active">
            
            </div>
        </div>

    </div> 
</div>
