

<div class="container padding_continer">

    <div class="card-columns">
        <% products.forEach(function(product){ %>
        <div class="card">
            <img class="card-img-top" src="<%= product.image %>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> <%= product.title %> </h5>
                <p class="card-text"> <%= product.description %> </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>